.all-articles {
  padding: 10px;
}
.all-articles > * {
  margin: 10px 0;
}
.all-articles li {
  background-color: var(--other-light);
  margin: 20px 0;
  padding: 10px;
  font-weight: bold;
  transition: all 500ms;
  position: relative;
}

.all-articles li:hover {
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--other-light);
}

.singleArticle {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.sortingQueries {
  display: flex;
  justify-content: space-around;
}

.sortingQueries select {
  margin: 10px;
}
