.article > * {
  padding: 10px;
}
.article {
  background-color: var(--other-light);
}

.article img {
  width: 300px;
  height: auto;
  float: left;
}

.article-footer-box {
  clear: both;
}

.article p.article-body {
  padding: 10px;
  color: var(--main-font-color);
}

.article-footer-box {
  display: flex;
  justify-content: space-between;
}

.article-summary {
  color: var(--other-light);
  background-color: var(--header-background-color);
  opacity: 0.5;
}

.article-interactive div.button {
  transition: all 500ms;
}

.article-interactive div.button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

p.votes-box {
  width: 50px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.rating {
  transition: all 500ms;
}

.add,
.votes,
.minus {
  padding: 5px;
  font-size: 20px;
}

.add:hover {
  color: rgb(103, 244, 103);
  transform: scale(1.5);
}

.minus:hover {
  color: rgb(235, 127, 127);
  transform: scale(1.5);
}
