:root {
  --main-background-color: #334464;
  --primary-color: #7234fa;
  --header-background-color: #222222;
  --main-font-color: #312f36;
  --other-light: #fffdfa;
  --comments: #312f3686;
}
body {
  padding: 10px;
  background-color: var(--main-background-color);
  position: relative;
}
body h1,
body h2 {
  font-family: "Kalnia", serif;
  color: var(--other-light);
  font-weight: bolder;
  text-align: center;
  font-size: 40px;
}
body h2 {
  color: var(--header-background-color);
  font-size: 30px;
}
body:not(h1) {
  font-family: "Montserrat", sans-serif;
}
.main-section {
  padding: 10px;
  margin: 100px 0;
  text-align: center;
}

.main-section h1 {
  color: var(--other-light);
}

section p:not(.votes, .topic-description) {
  color: var(--other-light);
}
.box {
  background-color: var(--header-background-color);
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  color: var(--other-light);
}

.all-articles,
.section-comments,
.article {
  margin-bottom: 50px;
}
