:root {
  --main-background-color: #334464;
  --primary-color: #7234fa;
  --header-background-color: #222222;
  --main-font-color: #312f36;
  --other-light: #ddd8ce;
}
body {
  padding: 10px;
  background-color: var(--main-background-color);
}
body h1 {
  font-family: "Kalnia", serif;
  color: var(--primary-color);
}
body:not(h1) {
  font-family: "Montserrat", sans-serif;
}
